body{
    background-color: #1d1d1d;
}


.white-tile{
    background-color: #f0d9b5;

}

.black-tile{
    background-color: #b58863;
}

.white-tile, .black-tile {
    width: 80px;
    height: 80px;
    display: inline-block;
    transition: background-color 0.2s ease;
    position: relative;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 2px solid #1d1d1d;
    width: fit-content;
    position: absolute;
    top:50%;
    left:45%;
    transform:translate(-50%, -50%);
    box-sizing: border-box;
}

.piece img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.white{
    color: white;
    text-shadow: 0 0 3px #222;
}

.black{
color: black;
text-shadow: 0 0 3px #fff
}

.selected{
outline: 2px solid gold;
background-color: rgba(209, 195, 0, 0.8);
box-sizing: border-box;
border-radius: 4px; /* Optional for rounded corners */
}

.legalMoves::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;            /* size of the circle */
  height: 20px;
  background-color: rgba(128, 128, 128, 0.6); /* grey with 60% opacity */
  border-radius: 50%;     /* makes it a circle */
  transform: translate(-50%, -50%); /* centers it exactly */
  pointer-events: none;   /* so it doesn't block clicks */
}

.promotion-overlayW,
.promotion-overlayB {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  gap: 8px;
  padding: 12px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 15px 15px 15px rgba(0,0,0,0.6);
}

.promotion-btn {
  font-size: 40px;
  padding: 3px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.promotion-btn:hover {
  transform: scale(1.1);
}




